body{
	margin: 0;
	padding: 0;
	display: fit-content;
	max-height: fit-content;
	font-family: 'Poppins',sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #000;
}
p{
	font-size: 12px;
	line-height: 9px;
	background: url(rm.jpg) no-repeat center/ cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,.1);
}